# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Ignore environment variables file
.env  

# Django migration files
*.sqlite3
migrations/
*/migrations/*.py
*/migrations/*.pyc
*/migrations/__init__.py

# Ignore database files
*.db

# Ignore sensitive settings like API keys
settings.py  # if you store API keys in this file
settings_local.py

# Static and media files
staticfiles/
media/

# IDE or Editor files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Ignore Stripe keys or other sensitive files
stripe_keys.py  # If you store Stripe keys here
