{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fyuto Store{% endblock %}</title>

    {# Favicon #}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    {# Fonts #}
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">

    {# Base CSS #}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {# Extra CSS block for child templates #}
    {% block extra_css %}{% endblock %}
</head>

<body>
    <header>
        <h1>Welcome to Fyuto Store</h1>
        <nav>
            <ul class="nav">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'product_list' %}">Catalog</a></li>
                <li><a href="{% url 'cart_detail' %}">Cart</a></li>

                {% if user.is_authenticated %}
                <li><a href="{% url 'order_list' %}">My Orders</a></li>
                <li><a href="#" data-toggle="modal" data-target="#logoutModal">Logout</a></li>
                {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block page_title %} <!-- New block for specific page titles -->
        {% endblock %}
        {% block content %}
        <!-- This is where the content of each page will go -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Fyuto Store. All rights reserved.</p>
    </footer>

    <!-- Logout Confirmation Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel"><strong>Confirm Logout</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {# Base JavaScript #}
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block javascript %}
    <!-- This block will allow individual pages to inject custom scripts -->
    <!-- Include Stripe.js -->
    <script src="https://js.stripe.com/v3/"></script>

    <script>
        function confirmLogout() {
            return confirm("Are you sure you want to logout?");
        }

    </script>
    {% endblock %}
</body>

</html>