{% extends 'store/base.html' %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
<h1 class="page-headings">Your Shopping Cart</h1>
{% if cart %}
<table class="table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td class="product-name-container">
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="cart-product-img">
                {{ item.product.name }}
            </td>
            <td class="cart-quantity">{{ item.quantity }}</td>
            <td class="cart-price">${{ item.price }}</td>
            <td class="cart-total-price">${{ item.total_price }}</td>
            <td>
                <a href="{% url 'cart_remove' item.product.id %}" class="remove-link">Remove</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Total: ${{ cart.get_total_price }}</p>
<a href="{% url 'checkout' %}" class="btn btn-primary">Proceed to Checkout</a>
{% else %}
<p>Your cart is empty!</p>
{% endif %}
{% endblock %}