{% extends 'store/base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
<h2 class="page-headings">Checkout</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td class="product-name-container">
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="cart-product-img">
                {{ item.product.name }}
            </td>
            <td class="cart-quantity">{{ item.quantity }}</td>
            <td class="cart-total-price">${{ item.total_price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p class="total-price">Total: {{ cart.get_total_price }}</p>

<form action="{% url 'checkout' %}" method="post" id="payment-form" class="checkout-form">
    {% csrf_token %}

    <div class="form-row">
        <label for="card-element" class="card-label">Credit or debit card</label>
        <div id="card-element" class="card-element">
            <!-- Stripe's JS will inject the card element here -->
        </div>
        <!-- Error message container -->
        <div id="card-errors" class="card-errors" role="alert"></div>
    </div>

    <button type="submit" class="btn btn-success mt-3 checkout-button">Confirm and Pay</button>
</form>
{% endblock %}
